// aggiungi no-gutters per rimuovere il padding automatico di bootstrap
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
///////////////////////////////////////////////////////////////////////

main {
    background: #f5f5f5;
    // padding-top: 30px;
    .container-fluid {
        padding-bottom: 100px;
    }
    // .row {
    img.bg-search-img {
        position: absolute;
        height: 300px;
        width: 100vw;
        object-fit: cover;
    }

    h1 {
        margin-top: 20px;
        font-weight: $font-strong;
        @media screen and (max-width: 575px) {
            font-size: 1.5rem;
        }
    }
    h4 {
        font-weight: $font-strong;
        padding-bottom: 3px;
        @media screen and (max-width: 575px) {
            font-size: 1.05rem;
        }
    }
    p {
        color: $dark_grey;
    }

    .search-box-wrapper {
        padding-top: 30px;
        .search-box {
            margin-bottom: 30px;
            // border: 4px solid #fff;
            padding: 20px;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.9);
            .search-input {
                border-radius: 15px;
            }
            @media screen and (max-width: 767px) {
                .serch-input-wrapper {
                    margin-bottom: 15px;
                }
            }

            .range-label {
                width: 100%;
            }
            .range-input {
                margin-top: 8px;
            }
        }
    }

    // }

    // SHOW
    .show {
        // .underlined-h4 {
        //     border-bottom: 1px solid #dfe1e2;
        // }
        .title-row {
            padding-bottom: 10px;
            margin-bottom: 20px;
            // border-bottom: 1px solid #dfe1e2;
        }
    }
    .row-img img.apt-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        @media screen and (max-width: 575px) {
            height: 350px;
        }
    }
    .container-margin {
        width: 90%;
        margin: 0 auto;
    }

    .flex-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-dir {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .apt-info {
        margin-bottom: 30px;
        span {
            padding-right: 20px;
            display: inline-block;
            @media screen and (max-width: 575px) {
                padding-bottom: 10px;
            }
            i {
                color: #8f8e8d;
                font-size: 20px;
                padding-right: 10px;
            }
        }
    }

    .apt-services {
        height: 120px;
        span {
            padding-bottom: 10px;
        }
    }

    .contact-host-title {
        font-size: 17px;
    }

    textarea,
    #email {
        width: 100%;
        padding: 5px 10px;
        border-radius: 15px;
        border: 1px solid #dfe1e2;
    }
    ::placeholder {
        color: #747371;
    }

    textarea:focus,
    #email:focus {
        border: 1px solid #3490dc;
    }

    .map-container {
        padding-top: 80px;
    }

    .controls {
        display: flex;
        margin-top: 20px;
        .btn {
            margin-right: 15px;
            color: black;
            background-color: white;
            border: 1px solid black;
            &:hover {
                background-color: red;
                color: white;

                border: 1px solid red;
            }
        }
        .btn-edit {
            &:hover {
                background-color: green;
                border: 1px solid green;
            }
        }
    }

    ///// SEARCH PAGE ////////////
    .custom-container {
        width: 90vw;
        padding: 10px;
        margin: 0 auto;
        @media screen and (max-width: 575px) {
            width: 95vw;
        }
    }
    ///////results container//////////////////////////////////
    // PADDING TRICK//
    .padding-trick {
        padding: 10px;
        flex: 0 1 50%;
        @media screen and (max-width: 575px) {
            padding: 10px 5px;
            flex: 1 1 100%;
        }
    }

    .results-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        .card {
            border-radius: 15px;
            overflow: hidden;
            // display: inline-block;
            // margin: 10px;
            height: 277.333px;
            @media screen and (max-width: 991px) {
                height: 430px;
            }
            .wrap {
                position: relative;
                display: flex;
                flex-direction: row;
                height: 100%;
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                }
                a.card-link {
                    position: absolute;
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    cursor: pointer;
                }

                .card-img-top {
                    width: 50%;
                    object-fit: cover;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        height: 40%;
                    }
                }
                .card-title {
                    font-size: 1.3rem;
                }
                .info-card {
                    display: block;
                    font-size: 14px;
                    padding: 4px;
                    margin-right: 5px;
                    i {
                        display: inline-block;
                        color: $icon-color;
                        font-size: 16px;
                        min-width: 30px;
                    }
                }
            }

            .list-group-item {
                padding: 5px;
            }
        }
    }
    /////////////////////////////////////////////
    .payment {
        margin-top: 30px;
        .options {
            padding: 15px;
            border: 2px solid lightgrey;
            background-color: white;
            border-radius: 15px;
            width: 100%;
            p {
                color: black;
                border-bottom: 1px solid lightgrey;
                padding-bottom: 10px;
                width: 100%;
                i {
                    padding-right: 5px;
                }
            }
        }
    }
    .box-paypal {
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 1;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 20;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .paypal {
            max-width: 400px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            button {
                padding: 10px 20px;
                background-color: white;
                border: 1px solid black;
                border-radius: 15px;
                &:hover {
                    color: white;
                    background-color: #3490dc;
                    border: 1px solid #3490dc;
                }
            }
            .payment-successfull-box {
                text-align: center;
                padding: 20px 30px;
                border: 1px solid green;
                border-radius: 15px;
                .payment-successfull-alert {
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: green;
                    .icon-payment-check {
                        color: green;
                    }
                }
                .refresh-button {
                    color: green;
                    border: 1px solid green;
                    font-weight: 700;
                    &:hover {
                        color: white;
                        background-color: green;
                    }
                }
            }
        }
    }

    .titolo-stats {
        margin: 30px;
    }

    .chart-views {
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 15px;
        padding: 10px;
        p {
            font-size: 20px;
        }
    }

    .create,
    .edit {
        .apt-name {
            width: 400px;
        }
        .apt-address {
            width: 720px;
        }
        .input-short {
            width: 50px;
        }
    }

    .input-check {
        margin-bottom: 0.5rem;
        margin-right: 10px;
    }

    .button-margin {
        margin: 25px 0 100px;

        input {
            color: black;
            padding: 10px;
            background-color: white;
            border: 1px solid black;
            border-radius: 15px;
            &:hover {
                border: none;
                color: white;
                background-color: blue;
            }
        }
    }

    .ap-input-icon {
        display: none;
    }

    .title-margin {
        padding: 50px 0 30px;
    }

    .card-img-top {
        padding: 0px 0; //////// TOLTO
    }

    .img-thumbnail {
        width: 280px;
        height: 220px;
    }
    .apartments-card {
        display: flex;
        flex-direction: row;
        position: relative;
        margin: 30px auto;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        border: none;
        .link-card {
            overflow: hidden;
            position: absolute;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            cursor: pointer;
        }
        img {
            width: 50%;
            object-fit: cover;
        }

        .card-body {
            display: block;
            padding-left: 30px;
            @media screen and (max-width: 991px) {
                height: 60%;
            }
        }
        .card-title {
            font-weight: 800;
        }
    }

    // .btn-show {
    //     position: absolute;
    //     bottom: 20px;
    //     left: 20px;
    // }

    .stats-mess {
        margin: 20px 0;
    }

    .btn-space {
        margin-right: 10px;
        background-color: white;
        color: black;
        border: 1px solid black;
        &:hover {
            color: white;
            background-color: #fe675d;
            border: 1px solid #fe675d;
        }
    }

    .margin-zero {
        margin: 0;
    }

    .content-center {
        align-items: center;
    }

    .search-bar {
        display: flex;
        background-color: white;
        border: 1px solid black;
        width: 80%;
        margin: 30px auto;
        input {
            border: 0;
            outline: 0;
        }
        input:focus {
            outline: none !important;
        }
    }

    .flex {
        display: flex;
    }

    .search-sec {
        padding: 2rem;
        width: 90%;
        margin: 30px auto;
        background: rgba(26, 70, 104, 0.51);
    }
    .search-slt {
        display: block;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        height: calc(3rem + 2px) !important;
        // border-radius: 0;
    }
    .wrn-btn {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        height: calc(3rem + 2px) !important;
        border-radius: 15px;;
    }
    // @media (min-width: 992px){
    //     .search-sec{
    //
    //
    //         background: rgba(26, 70, 104, 0.51);
    //     }
    // }
    //
    // @media (max-width: 992px){
    //     .search-sec{
    //         background: #1A4668;
    //     }
    // }
    .service-form {
        padding-top: 20px;
    }
    // .form-group{
    //     margin: 0;
    // }

    ///////MODIFICHE A SEARCH INDEX/////////

    .index-search-box {
        // max-width: 1100px;
        // flex-basis: 90vw;
        // flex-shrink: 0;
        // flex-grow: 0;
        padding-top: 30px;
        // margin: 0 auto;
        // border-radius: 40px;
        .index-ricerca-row {
            // margin: 0 auto;
            width: 100%;
            // max-width: 90vw;
            margin-bottom: 15px;
            display: flex;

            .search-box-index {
                // margin: 0 auto;
                // width: 90vw;
                padding-right: 10px;
                width: 100%;
                // max-width: 1100px;
                // display: flex;
                // flex-direction: row;
                // align-items: center;
                @media screen and (min-width: 992px) {
                    flex-basis: 75%;
                }
            }
            .button-box {
                // margin-top: 15px;
                @media screen and (min-width: 992px) {
                    flex-basis: 25%;
                }
            }
            .button-box button {
                // margin-top: 15px;
                width: 100%;
                border-radius: 15px;
                background-color: #fff;
                border: 1px solid grey;
                text-align: center;
                font-size: 22px;
                &:hover {
                    background-color: $bittersweet;
                    color: white;
                    border: 1px solid $bittersweet;
                }
            }
        }
        .input-box-index {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        input {
            border-radius: 15px;
        }
        .second-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // max-width: 1100px;
            // width: 90vw;
            // width: 100%;
            // margin: 0 auto;
            .radius-box,
            .rooms-box,
            .beds-box {
                margin-top: 15px;
            }
            .label-index {
                width: 70%;
                min-width: 100px;
                @media screen and (min-width: 992px) {
                    max-width: 200px;
                    width: 100%;
                }

            }
            input.search-slt {
                width: 90px;
            }
            .second-row-top {
                width: 100%;
                @media screen and (min-width: 768px) {
                    width: 50%;
                }
                @media screen and (min-width: 992px) {
                    width: 40%;
                }
                span {
                    font-size: 16px;
                }
            }
            .second-row-bottom {
                width: 100%;
                padding-left: 20px;
                margin-top: 15px;
                @media screen and (min-width: 768px) {
                    width: 50%;
                }
                @media screen and (min-width: 992px) {
                    width: 60%;
                }
                h5 {
                    margin-top: 12.2px;
                }
            }
        }
    }
    .sponsor-container-index {
        margin: 0 auto;
        width: 90vw;
    }
    .hr-index {
        margin-top: 30px;
    }
    .title-vetrina {
        display: block;
        width: 90vw;
        margin: 45px auto;
        text-align: center;
    }

    ///////PAGINA SEARCH///////
    .form-row:first-child {
        margin-bottom: 10px;
    }
    .form-row.services-row {
        margin-top: 20px;
        // margin-bottom: 20px;
    }

    .address-input {
        border-radius: 15px;
    }

    .form-control {
        border-radius: 15px;
        &:focus {
            border-color: #3490dc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3490dc;
        }
    }
    .index-search-box,
    .search-box {
        .form-control {
            border-radius: 15px;
            &:focus {
                border-color: $bittersweet;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                    0 0 8px $bittersweet;
            }
        }
    }

    .search-page-search {
        border-radius: 15px;
    }

    .radius-label {
        display: inline-block;
    }
    .btn-search-page-search {
        width: 100%;
        border-radius: 15px;
        background-color: #fff;
        // border: 1px solid grey;
        border: 1px solid $bittersweet;
        color: $bittersweet;
        // padding: 5px 12px;
        padding: 0.375rem 0.75rem;
        text-align: center;
        // font-size: 22px;
        font-size: 15px;
        font-weight: 700;
        transition: 0.2s ease;
        &:hover {
            background-color: $bittersweet;
            color: white;
            border: 1px solid $bittersweet;
        }
    }
    ////////
    .no-apt,
    .no-apt-btn {
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }

    ///margin main
    padding-bottom: 50px;
}

.checkbox-round-wrapper {
    margin-bottom: 10px;
    .checkbox-round {
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #cccccc;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
}


.checkbox-round:checked {
    border: 1px solid $bittersweet;
    background-color: $bittersweet;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $bittersweet;
}

#message {
    border-radius: 15px;
}
