// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-light: 200;
$font-strong: 800;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark_grey: #515151;

/* SCSS RGB */
$cadet-blue: rgba(122, 158, 159, 1);
$deep-space-sparkle: rgba(79, 99, 103, 1);
$eerie-black: rgba(29, 29, 29, 1);
$cultured: rgba(241, 241, 241, 1);
$bittersweet: rgba(254, 103, 93, 1);
$icon-color: #8f8e8d;
